
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;background-color:white!important;">
        <a class="navbar-brand" style="font-size: 1.6rem;" href="/home">Student Portal IIITT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Academics">Academics</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/library">Library</a>
                </li>
               
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="/" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hostel & Mess</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/hostel">Hostel</a>
                        <a class="dropdown-item" href="/mess">Mess</a>

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item active" style="padding-right:20px;  ">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    
                </ul>

            </form>
            <form class="form-inline my-2 my-md-0">
                <button type="button" class="btn btn-outline-danger">Logout</button>
            </form>
        </div>
    </nav>  

