<!DOCTYPE html>
<html lang="en">
<head>
    <title>Academic Summary | Student Portal | IIITT</title>
    <% include partials/head %>
</head>


<body background="image.jpg">


<header>
    <% include partials/header %>
</header>



<!-- CONTENT  -->







        <div class="pricing-header px-2 py-2 pt-md-5 pb-md-4 mx-auto text-center" style="color:white; margin:0 auto;padding-bottom:0px !important;">
            <h1 class="display-5">Summary : Academics</h1>
            <p class="lead">Please choose the appropriate options according to the month.</p>
        </div>

    <div class="container">
        <hr >
    </div>


    


            <div class="container" style="background-color:white;min-width: 700px;">
                
                <div class="media" style="margin:0 auto;padding:20px;">
                    <div class="media-body">
                        Name:    <h6 class="mt-0 mb-1"><b>Amruth Chary Kuntamalla</b></h6>
                        Semester:    <h6 class="mt-0 mb-1"><b>5th</b></h6>
                        Current Year:    <h6 class="mt-0 mb-1"><b>3rd</b></h6>
                        Branch:    <h6 class="mt-0 mb-1"><b>Electronics and Communication Engineering</b></h6>
                        Roll Number:    <h6 class="mt-0 mb-1"><b>ECE17U003</b></h6>
                        Batch:    <h6 class="mt-0 mb-1"><b>2017-2021</b></h6>

                        <br />
                        <br />
                        <a href="/attendance">CLick here for Attendance </a>
                    <br />
                       
                    </div>
                    <img src="image.jpg" class="ml-3" alt="..." width="200" height="200" >
                </div>


                <!--Summary Table-->

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Subject</th>
                            <th scope="col">CT-1(20)</th>
                            <th scope="col">CT-2(20)</th>
                            <th scope="col">End-Sem</th>
                            <th scope="col">Attendance</th>
                            <th scope="col">Last Updated</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>4 days ago</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>3 days ago</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>4 days ago</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>4 days ago</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>4 days ago</td>
                        </tr>
                    </tbody>
                </table>

               





















                
                



               
                <br />
            </div>






    <br />











    <footer>
        <% include partials/footer %>
    </footer>
</div>
</body>
</html>
