
<!doctype html>
<html lang="en">
<head>
        <title>Hostel Complaints | Student Portal | IIITT</title>
        <% include partials/head %>

        <script type="text/javascript" src="js/modules/forms-free.js"></script>

</head>



<body background="image.jpg">


    

        <header>
                <% include partials/header %>
            </header>
            
            

    <div class="container">
        <hr >
    </div>

    <br />

    <div class="container rounded mb-0 p-2 bg-white">
            <div class="container" style="background-color:white;">

                <% if(alert){ %>

                    <div class="alert alert-success" role="alert">
                            Complaint Succefully Submitted! Your problem will be checked soon!
                          </div>
                <% } %>
                <!--Section: Contact v.2-->
<section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Complaints Registration Form</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Please fill appropriate informations regarding hostel issues.</p>
    
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="/hostel" method="POST">
    
                    <!--Grid row-->
                    <div class="row">
                        
    
                    </div>
                    <!--Grid row-->
    
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control" required>
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
    
                    <!--Grid row-->
                    <div class="row">
    
                        <!--Grid column-->
                        <div class="col-md-12">
    
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" required    ></textarea>
                                <label for="message">Your message</label>
                            </div>
    
                        </div>
                    </div>
                    <!--Grid row-->
    
                </form>
    
                <div class="text-center text-md-left">
                    <button class="btn btn-primary" name = "submit" onclick="validateForm()">Send</button>
                </div>
                <div class="status">All Fields are compulsary</div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            
            <!--Grid column-->
    
        </div>
    
    </section>
    <!--Section: Contact v.2-->



                
                

                
            <br />
            </div>


            </div>



    <br />












   <!--foooter-->
   





        <footer >
                <% include partials/footer %>
         
            
        </footer>
   <script>
   function validateForm() {
       
var subject =  document.getElementById('subject').value;
console.log(subject);
var msg ="HI";
if (subject === "") {  
    document.getElementById('status').innerHTML = "";
    return false;
}
var message =  document.getElementById('message').value;
if (message === "") {
    document.getElementById('status').innerHTML ="Message";
    return false;
}

document.getElementById('contact-form').submit();

}
   </script>
</body>
</html>
