
<!doctype html>
<html lang="en">
<head>
        <title>Mess Registration Info. | Student Portal | IIITT</title>
        <% include partials/head %>


</head>



<body background="image.jpg">


    

        <header>
                <% include partials/header %>
            </header>
            
            

        <div class="pricing-header px-2 py-2 pt-md-5 pb-md-4 mx-auto text-center" style="color:white; ">
            <h1 class="display-5">Mess Registration Form</h1>
            <p class="lead">Please choose the appropriate options according to the month.</p>
        </div>

    <div class="container">
        <hr >
    </div>

    <br />



            <div class="container" style="background-color:white;">
                <div class="row">
                    <div class="col-sm">

                       
                            <div class="form-group" style="width:200px;">
                                <form>
                                    <label for="sel1" >Select Year:</label>
                                    <select class="form-control" id="year">
                                        <option value="">2019</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </form>
                                    <br>


                                    <label for="sel1">Select Month:</label>
                                    <select class="form-control" id="month">
                                        <option value="">January</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                    <br>




                                    <label for="sel1">Select Mess:</label>
                                    <select class="form-control" id="mess-name">
                                        <option value="">Annapurna</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                    <br>
</div>



                            <input class="btn btn-outline-info" type="submit">
                       


                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                </div>


                
                <br />



               

            </div>






    <br />












   <!--foooter-->
    <div class="container" style="background-color:white; ">








        <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <% include partials/footer %>
         
            
        </footer>
    </div>
</body>
</html>
